
*{margin: 0;padding: 0}
*::before{box-sizing: border-box}
*::after{box-sizing: border-box}

body{height: 100vh;display: flex;flex-direction: column;}
.code-wrapper{flex: 1;height: 50%}
.preview-wrapper{flex: 1;height: 50%}
#code{height: 100%;overflow: hidden}

.actions{position: absolute;top:80px;right:60px;display: flex;flex-direction: column}
.actions>button{margin: 10px;padding: 4px 16px;border: none;border: none;background: rgb(248, 239, 116);
    color: rgb(202, 141, 9);border-radius: 2px;cursor: pointer;}
.actions>button:focus{outline: none}
.actions>button.active{box-shadow: 0 0 3px 1px rgb(250, 218, 111)}

/* .nose{
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 11px solid transparent;
    border-color: red green yellow pink
} */